@import url("button.css");
@import url("column.css");

h2 {
  font-weight: 400;
}

.title-header {
  font-size: 26px;
  margin-bottom: 12px;
}

.no-bottom-margin {
  margin-bottom: 0px;
}

.section-title {
  margin-bottom: 0px;
  font-size: 18px;
}

.section-div {
  padding: 3px 25px;
}

.section-link {
  display: block;
  margin: 0;
}

#showWhenUsingQuarkusTools {
  vertical-align: middle;
  margin-left: 0px;
}