name: Tests
on:
  push:
  pull_request:
  schedule:
    - cron: '7 */8 * * *'
jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [
          ubuntu-latest,
          # macos-latest
        ]
        include:
          - os: ubuntu-latest
            label: 'linux'
          # - os: macos-latest
          #   label: 'darwin'
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '18.15'
      - name: Install vsce
        run: npm i -g @vscode/vsce
      - name: Install dependencies
        run: npm i
      - name: Compile extension
        run: npm run vscode:prepublish
      - run: vsce package
      - name: eslint
        run: npm run lint
      - name: Tests
        run: xvfb-run --auto-servernum npm run test --silent
        if: runner.os == 'Linux'
      - name: Tests
        run: npm run test --slient
        if: runner.os != 'Linux'
      - name: UI Tests
        env:
          SKIP_KNOWN_FAILING_TESTS: true
        run: xvfb-run --auto-servernum npm run test-ui
        if: runner.os == 'Linux'
      - name: UI Tests
        env:
          SKIP_KNOWN_FAILING_TESTS: true
        run: npm run test-ui
        if: runner.os != 'Linux'
